# =====================
# === Bottom Config ===
# =====================

[flags]
default_time_value = 60000
time_delta         = 15000

default_widget_type  = 'proc'
default_widget_count = 1

rate  = 1000
regex = true
color = 'default'
tree  = false

temperature_type = 'fahrenheit'

[colors]
avg_cpu_color   = 'cyan'
cpu_core_colors = [
    'lightred',
    'lightgreen',
    'lightyellow',
    'lightblue',
    'lightmagenta',
    'lightcyan',
]

table_header_color = 'lightblue'
widget_title_color = 'gray'

ram_color  = 'lightmagenta'
swap_color = 'lightyellow'

rx_color = 'lightcyan'
tx_color = 'lightgreen'

border_color             = 'gray'
highlighted_border_color = 'lightblue'

text_color          = 'gray'
selected_text_color = 'black'
selected_bg_color   = 'lightblue'

high_battery_color   = 'green'
medium_battery_color = 'yellow'
low_battery_color    = 'red'

graph_color = 'gray'

[[row]]
    ratio = 5
    [[row.child]]
    type = 'cpu'
 
[[row]]
    ratio = 5
    [[row.child]]
        ratio = 5
        type  = 'memory'

    [[row.child]]
        ratio = 2

        [[row.child.child]]
            type = 'disk'

        [[row.child.child]]
            type = 'temperature'

        [[row.child.child]]
            type = 'battery'

[[row]]
    ratio = 6
    [[row.child]]
        ratio = 3
        type  = 'network'

    [[row.child]]
        ratio   = 2
        type    = 'processes'
        default = true
