# =====================
# === Sioyek Config ===
# =====================

# collapse by default
collapsed_toc 1

# show document name
show_document_name_in_statusbar 1

# separators thickness
page_separator_width 2

# ==============
# === Colors ===
# ==============

# normal ui
ui_text_color       0.663 0.663 0.663
ui_background_color 0.145 0.145 0.145

# selected ui
ui_selected_text_color       0.145 0.145 0.145
ui_selected_background_color 0.663 0.663 0.663

# document
startup_commands toggle_custom_color
custom_text_color       0.763 0.763 0.763
custom_background_color 0.122 0.122 0.122

# status bar
status_bar_text_color 0.663 0.663 0.663
status_bar_color      0.145 0.145 0.145

# text highlight
text_highlight_color 0.288 0.288 0.288

# search highlight
search_highlight_color 0.835 0.69 0.42

# separators
page_separator_color 0.188 0.188 0.188
