# =====================
# === Sioyek Config ===
# =====================

# collapse by default
collapsed_toc 1

# separators thickness
page_separator_width 2

# lock horizontal scroll
startup_commands toggle_horizontal_scroll_lock

# ==============
# === Colors ===
# ==============

# normal ui
ui_text_color       0.663 0.663 0.663
ui_background_color 0.145 0.145 0.145

# selected ui
ui_selected_text_color       0.145 0.145 0.145
ui_selected_background_color 0.663 0.663 0.663

# status bar
status_bar_text_color 0.663 0.663 0.663
status_bar_color      0.145 0.145 0.145

# text highlight
text_highlight_color 0.288 0.288 0.288

# link highlight
link_highlight_color 0.318 0.624 0.875

# search highlight
search_highlight_color 0.835 0.69 0.42

# separators
page_separator_color 0.188 0.188 0.188
