/* ======================== */
/* === Firefox Sidebery === */
/* ======================== */

#root.root {
  /* general margin */
  --general-margin: 5px;

  /* system font */
  --font: 11.5px system-ui;

  /* apply system font */
  --ctx-menu-font:           var(--font);
  --bookmarks-bookmark-font: var(--font);
  --bookmarks-folder-font:   var(--font);
  --tabs-count-font:         var(--font);
  --tabs-font:               var(--font);

  /* remove drop shadows */
  --active-el-shadow:      none;
  --ctx-menu-shadow:       none;
  --nav-btn-active-shadow: none;
  --popup-shadow:          none;
  --bookmarks-expanded-folder-shadow: none;
  --tabs-activated-shadow: inset 0 0 0 1px rgb(80, 80, 80);
}

* {
  /* font weight */
  font-weight: 450 !important;
}
