/* ======================== */
/* === Firefox Sidebery === */
/* ======================== */

#root.root {
  /* general margin */
  --general-margin: 5px;

  /* system font */
  --font: 11.5px system-ui;

  /* apply system font */
  --tabs-font:               var(--font);
  --ctx-menu-font:           var(--font);
  --tabs-count-font:         var(--font);
  --bookmarks-folder-font:   var(--font);
  --bookmarks-bookmark-font: var(--font);

  /* remove drop shadows */
  --popup-shadow:          none;
  --ctx-menu-shadow:       none;
  --active-el-shadow:      none;
  --nav-btn-active-shadow: none;
  --tabs-activated-shadow: none;
  --bookmarks-expanded-folder-shadow: none;

  /* highlight color */
  --toolbar-el-overlay-hover-bg: #333333;
}

* {
  /* font weight */
  font-weight: 450 !important;
}

/* move box to bottom */
.top-horizontal-box {
  position: absolute;
  bottom: -2px;
}

/* add background to buttons */
#nav_bar {
  width: 75px;
  border-radius: 7px;
  background: var(--frame-bg);
}

/* hide container highlight */
.ctx {
  display: none;
}

/* hide flash animation */
.flash-fx {
  display: none;
}
